

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">end of training</h4>
            </div>
            <div class="modal-body">
                <p>You have completed this training. Your score is {{score}}&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="saveChanges()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
