<div class="center-block text-center">

    <h1 class="page-header">dart-trainer</h1>

    <img src="resources/board_icon.png" class="img-circle main-icon"/>

    <div ng-show="path == '/login'">
        <div ng-include="'views/login.html'"></div>
    </div>
    <div ng-show="path != '/login'">
        <button class="btn btn-lg btn-primary btn-block" ng-click="redirect()">start training</button>
    </div>

    <h3>Instructions</h3>
    <div>
        <ul class="main-links">
            <li>how to play</li>
            <li>how to install / save to phone+</li>
        </ul>
    </div>

    <footer class="panel-footer">(c) kaufi07</footer>
</div>